---
import { MagicText } from "@/components/magic-text";
import Layout from "@/layouts/Layout.astro";
import { cn } from "@/lib/utils";
---

<Layout>
  <div class="pointer-events-none fixed inset-0 flex z-0">
    <div
      class="absolute inset-0 h-full w-full bg-[radial-gradient(circle,hsla(0,0%,90%,.1)0%,hsla(0,0%,100%,0)100%)]"
    >
    </div>
  </div>
  <div class="relative flex flex-col justify-center max-w-4xl mx-auto">
    <h1
      class="text-[clamp(3rem,_5vw,_6.5rem)] font-semibold tracking-tighter text-primary text-center"
    >
      <MagicText title="Motion UI guidelines" client:only />
    </h1>
    <section
      class={cn(
        "w-full max-w-none flex flex-col p-5 bg-base-0 rounded-xl border shadow-sm z-10 dark:prose-invert lg:p-8 xl:py-12",
        "prose prose-headings:text-base prose-headings:font-medium prose-h1:first:hidden",
        "prose-h2:text-sm prose-p:text-sm prose-p:m-0 prose-p:mb-[1em]",
        "prose-ul:px-0 prose-li:text-sm prose-li:px-0 prose-li:leading-[2em] prose-li:text-primary prose-li:before:content-['->_'] prose-li:before:mr-1 prose-li:before:text-muted prose-li:list-none",
        "prose-code:inline-flex prose-code:font-mono prose-code:font-normal prose-code:bg-base-2 prose-code:before:content-none prose-code:after:content-none prose-code:p-1 prose-code:leading-normal prose-code:rounded dark:prose-code:bg-base-5",
        "prose-pre:[&_code]:block prose-pre:[&_code]:bg-transparent",
        "prose-ol:[&_li]:before:content-none prose-ol:[&_li]:list-decimal prose-ol:[&_*]:text-xs prose-ol:[&_*]:opacity-70",
        "dark:bg-[hsla(300, 98%, 65%, 0.15)] dark:backdrop:blur-xl",
      )}
    >
      <slot />
    </section>
  </div>
</Layout>
